<%- include ('partials/header') %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog Entry</div>

    <form class='ui form' action="/blogs" method="post">
        <div class="field">
            <label for="Title">Title</label>
            <input type="text" name='blog[title]' placeholder="title">
        </div>
        <div class="field">
            <label for="Image">Image</label>
            <input type="text" name='blog[image]' placeholder="image">
        </div>
        <div class="field">
            <label for="Body">Blog Content</label>
            <textarea required name="blog[body]" placeholder='Write blog contents here' cols="30" rows="10"></textarea>
        </div>
        <input class='ui black basic big button' type='submit'>
    </form>
</div>

<%- include ('partials/footer') %>